* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;
}

body {
  line-height: 1.6;
  color: #222;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 2rem;
  background: #0b132b;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
}

.logo {
  font-size: 1.5rem;
}

/* HERO */
.hero {
  height: 90vh;
  background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
  ), url("images/hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  color: white;
  max-width: 600px;
}

.hero h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  background: #fca311;
  color: #000;
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 4rem 2rem;
  text-align: center;
}

.section h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.dark {
  background: #f4f4f4;
}

/* SERVICES */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card {
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card img {

  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 40%;
}

.card h4 {
  margin: 1rem 0 0.2rem;
}

.card p {
    margin-bottom: 0.7rem;
}

/* CONTACT */
.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

.contact-form textarea {
  height: 120px;
}

/* FOOTER */
.footer {
  background: #0b132b;
  color: white;
  text-align: center;
  padding: 1rem;
}
